h2
    span(v-if="editing") へんしゅう
    span(v-else) あたらしい
    
p ※俺用
p(v-show="!memo") よみこみちう

form(v-on:submit="performUpdate($event)" v-if="memo")

    .control-group
        input.control(
            v-model="memo.title"
            placeholder="たいとる"
            v-validate="required")
    .control-group
        input.control(
            v-model="memo.digest"
            placeholder="ようやく")
    .control-group
        input.control(
            type="checkbox"
            v-model="memo.draft"
            id="memoDraft")
        label.control-label(for="memoDraft") したがき
    .control-group
        .editor.control(
            v-editable="memo.content"
            placeholder="ほんぶん")

    hr
        
    .control-group
        button.btn.btn-green.btn-block(
            type="submit"
            v-bind="{disabled: invalid || !memo.content}") ほぞん
    .control-group(v-if="editing")
        button.btn.btn-red.btn-block(type="button" v-on:click="performDelete()") さくじょ
